<% @title = "For nonprofits" %>

<%= render :partial => 'sidebar' %>

<div id="left_column_flip" class="left_column_flip">
  <h1 id="nonprofits"><%= @title %> <a href="#nonprofits">#</a></h1>
 

    <dd><p>We will not disclose your email address to anyone unless we are obliged to by law,
        or you ask us to. This includes the public authority that you are sending a
        request to.  They only get to see an email address
        @<%= AlaveteliConfiguration::incoming_email_domain %> which is specific to that request.  </p>
      <p>If you send a message to another user on the site, then it will reveal your
        email address to them. You will be told that this is going to happen.</p>
    </dd>
