name: Release Charts

on:
  push:
    branches:
      # - main
      - github-actions-deploy
  workflow_dispatch:

jobs:
  release:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      # Set up SSH agent with private key
      - name: Setup SSH
        uses: webfactory/ssh-agent@v0.8.0
        with:
          ssh-private-key: ${{ secrets.SSH_PRIVATE_KEY }}

      - name: Copy files to remote server
        run: |
          mkdir -p ${{ vars.SSH_ALAVETELI_INSTALL_PATH }}/lib/themes/handlingar-theme
          rsync --archive --verbose --compress --delete \
            --rsh='ssh -o StrictHostKeyChecking=no' \
            ./ ${{ vars.SSH_USER }}@${{ vars.SSH_HOST }}:${{ vars.SSH_ALAVETELI_INSTALL_PATH }}/lib/themes/handlingar-theme

      # - name: Install theme
      #   run: |
      #     ssh ${{ vars.SSH_USER }}@${{ vars.SSH_HOST }} "cd ${{ vars.SSH_ALAVETELI_INSTALL_PATH }} && bundle exec rake themes:install"
